.field {
    width: 1000px;
    height: 600px;
    position: relative;
}
.field .man {
    background-image: url(../img/neymar-sprite.png);
    height: 294px;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
}
.field .ball {
    background-image: url(../img/ball.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 244px;
    left: 150px;
}
.field:hover .man {
    width: 230px;
    background-position: 1470px;
}
.field:hover .ball{
    animation-name: weird_ball;
    animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.field #wrapper {
    width: 1151px;
    height: 386px;
    perspective: 630px;
    position: absolute;
}
.field .pole {
    background-image: url(../img/Pole.png);
    width: 1239px;
    height: 500px;
    position: absolute;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    transform: rotateX(70deg);
}
.sky {
}
.sky .ufo {
    background-image: url(../img/UFO.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 455px;
    top: 10px;
}
@keyframes weird_ball {
    0% {
        top: 244px;
        left: 150px;
    }
    40% {
        top: 120px;
        left: 500px;
    }
    64% {
        top: 90px;
    }
    100% {
        top: 4px;
        left: 79px;
    }
}